@model Publicaciones.Models.MainViewModel
@section Publis
{
    <link rel="stylesheet" href="~/css/publi.css" />
}
<div class="card bg-info">
    <div class="row">


        <div class="col">

            <div class="card-body">

            </div>

            <div class="card-footer">

            </div>

        </div>


        <div class="col">

            <div class="card-header">
                <div class="col">
                    <h5>Siguiendo</h5>
                </div>
                <div class="col">
                    <h5>Seguidores</h5>
                </div>
            </div>

            <div class="card-body">
                <a>pruebapruebapruebapruebapruebabasdasdasdasdasdas</a>
            </div>

            <div class="card-footer">
                <div>
                    <button class="btn btn-info">Publicado</button>
                </div>
                <div>
                    <button class="btn btn-info">Likes</button>
                </div>
                <div>
                    <button class="btn btn-info">Imágenes</button>
                </div>
            </div>

        </div>


    </div>
</div>